{% extends 'base.html' %}

  {% block content %}
    <h1>Job Details</h1>
     <div class="row">
       <div class="col s6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ job.name }}</span>
            <p><b>Category: </b>{{ job.category }}</p>
            <p><b>Company: </b>{{ job.comp }}</p>
            <br />
            <a class="btn" href="/jobs/detail/de/{{job.id}}" target="_blank">Check Job Requirements</a>
            <br />
            <br />
            <a class="btn" href={{job.link}} target="_blank">To LinkedIn Page</a>
          </div>
        </div>
      </div>
      <div class="col s6">
        <form method="post" action="{% url 'add_note' job.id %}">
          {% csrf_token %}
          {{ note_form.as_p }}
          <input type="submit" class="btn" value="Add Note">
        </form>
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Priority</th><th>Content</th></tr>
          </thead>
          <tbody>
            {% for note in job.note_set.all %}
              <tr>
                <td>{{note.date}}</td>
                <td>{{note.get_priority_display}}</td>
                <td>{{note.content}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
        <!-- Add links for update and delete here... -->

    <script>
      var dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });

      // add additional JS to initialize select below
      var selectEl = document.getElementById('id_priority');
      M.FormSelect.init(selectEl);
    </script>
{% endblock %}  
